@use '../../constants/colors' as color;

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  background-color: color.$bgLow;
  padding: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 0;
  &__nav {
    align-self: flex-end;
    cursor: pointer;
    color: color.$txtLow;
    &:hover {
      color: color.$txtMed;
    }
  }
}
