@use '../../constants/colors' as color;
@use '../../constants/sizes' as size;

.projects {
  margin: 0 auto;
  margin-bottom: 6rem;
  padding: 0 1rem;
  max-width: 1200px;
  @media (min-width: size.$md) {
    padding: 0 7rem;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    color: color.$txtMed;
    font-size: 2.2rem;
    @media (min-width: size.$md) {
      flex-direction: row;
      align-items: flex-end;
    }

    &--number {
      color: color.$txtHigh;
      font-size: 1.8rem;
      @media (min-width: size.$md) {
        margin-right: 1rem;
      }
    }

    &--line {
      flex-grow: 1;
      align-self: center;
      margin-left: 1rem;
      border-bottom: 1px solid color.$txtLow;
    }
  }

  &__content {
    padding: 5rem 0;
  }

  &__featured {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    margin: 4rem 0;
    margin-top: 4rem;
    text-align: center;
    h2 {
      margin: 0;
      color: color.$txtMed;
      font-size: 1.6rem;
    }

    h3 {
      transition: all 300ms ease-in-out;
      cursor: pointer;
      margin: 0;
      color: color.$txtHigh;
      font-weight: 400;
      font-size: 0.9rem;
      text-decoration-color: transparent;

      &:hover {
        text-decoration: underline;
        text-decoration-color: color.$txtHigh;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;

    @media (min-width: size.$md) {
      grid-template-columns: 50% 50%;
    }

    @media (min-width: size.$lg) {
      grid-template-columns: 33% 33% 33%;
    }
  }
}
