@use '../../constants/colors' as color;
@use '../../constants/sizes' as size;

.job {
  @media (min-width: size.$md) {
    margin-left: 2rem;
    width: 80%;
  }

  &__header {
    margin-bottom: 2rem;
    h1 {
      margin: 0;
      margin-bottom: 0.3rem;
      color: color.$txtMed;
      font-size: 1.3rem;
    }

    h2 {
      margin: 0;
      font-size: 1rem;
    }
  }

  &__company {
    transition: all 300ms ease-in-out;
    cursor: pointer;
    color: color.$txtHigh;
    text-decoration-color: transparent;

    &:hover {
      text-decoration: underline;
      text-decoration-color: color.$txtHigh;
    }
  }

  &__description {
    font-size: 0.95rem;
    line-height: 1.4rem;
  }

  &__list {
    margin-top: 2.2rem;
    font-size: 0.95rem;
    list-style-type: armenian;

    li {
      margin: 1rem 0;
      line-height: 1.4rem;
    }
  }
}
