@use '../../constants/colors.scss' as color;
@use '../../constants/sizes.scss' as size;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__line {
    display: none;
    flex-grow: 1;
    margin: 0 1rem;
    background-color: color.$txtLow;
    height: 1px;
    @media (min-width: size.$xs) {
      display: block;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    color: color.$txtMed;
    font-size: 2.2rem;

    &--number {
      color: color.$txtHigh;
      font-size: 1.8rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
  }

  &__desc {
    margin: 1rem 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    @media (min-width: size.$md) {
      width: 60%;
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;

    @media (min-width: size.$md) {
      width: 60%;
    }
  }

  &__input {
    margin: 1rem 0;
    border: 1px solid color.$txtLow;
    border-radius: 5px;
    background-color: color.$bg;
    padding: 1rem;
    width: 100%;
    color: color.$txtLow;
    font-family: monospace;

    @media (min-width: size.$md) {
      font-size: 1.1rem;
    }
  }

  &__textarea {
    margin: 1rem 0;
    border: 1px solid color.$txtLow;
    border-radius: 5px;
    background-color: color.$bg;
    padding: 1rem;
    width: 100%;
    resize: none;
    color: color.$txtLow;

    @media (min-width: size.$md) {
      font-size: 1.1rem;
    }
  }

  &__btn {
    transition: background-color 300ms ease-in-out;
    cursor: pointer;
    margin: 1rem 0;
    border: color.$txtHigh 1px solid;
    border-radius: 5px;
    background-color: color.$bg;
    padding: 1rem 2rem;
    color: color.$txtHigh;
    font-family: monospace;

    &:hover {
      background-color: color.$btnHover;
    }
  }
}
